
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike,  sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
 caption, tbody, tfoot, thead, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html { overflow-y: scroll; }
body {
	line-height: 1; 
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html { overflow-x:hidden; }

 body { height:100%; width:100%;}
a { text-decoration:none; }

header { height:103px; width:100%; min-width:1000px; background:#004F8E; }
.topo { width:1000px; margin:0 auto; height:103px;  }
.logo { float:left;  width:260px; text-align:center; height:83px; padding-top:20px; }
.idioma { width:720px; font-family: 'Montserrat', sans-serif; height:15px;  float:left; font-size:11px; color:#FFF; text-align:right; padding-right:20px; padding-top:15px; }
.idioma a { font-family: 'Montserrat', sans-serif; font-size:11px; color:#FFF; text-decoration:none;}
nav { height:68px;  width:660px; padding-right:80px; padding-top:5px; float:left; }
nav ul li { float:right; margin-left:5px;}
nav ul li a {  font-family: 'Montserrat', sans-serif; font-size:15px; color:#FFF; text-decoration:none; line-height:35px;  margin-right:15px;}

.slide-geral { width:100%; min-width:1000px;  height:994px; }

.slide1 {min-width:1000px; background-size:cover;height:794px; background-image:url(../images/flyeasy-banner1.jpg); background-position:center; background-repeat:no-repeat; width:100%; color:#FFF; font-size:70px;  font-family: 'Montserrat', sans-serif; text-align:center; padding-top:200px;}

.slide2 {min-width:1000px;background-size:cover; height:824px; background-image:url(../images/flyeasy-banner2.jpg); background-position:center; background-repeat:no-repeat;width:100%; color:#FFF; font-size:70px;  font-family: 'Montserrat', sans-serif; text-align:center; padding-top:170px; }

.slide3 {min-width:1000px; background-size:cover;height:794px; background-image:url(../images/flyeasy-banner3.jpg); background-position:center; background-repeat:no-repeat;width:100%;
color:#FFF; font-size:70px;  font-family: 'Montserrat', sans-serif; text-align:center; padding-top:200px; }

.iphone-geral { width:100%; min-width:1000px; height:159px; background:#EEEEEE;  position:absolute; z-index:99999; margin-top:-350px; }
.iphone { width:1000px; height:159px;  margin:0 auto; }
.iphone-ico { position:absolute; margin-top:-210px; margin-left:75px; z-index:999; }
.iphone-p1 { float:left; width:340px; height:159px;  }
.iphone-p2 { float:left; width:660px; height:124px; text-align:center; font-family: 'Montserrat', sans-serif; font-size:23px; color:#646472; padding-top:35px;  }
.iphone-p2 p { margin-bottom:20px; }
.bullets { font-family: 'Montserrat', sans-serif; color:#FFF; font-size:15px; line-height:17px; position:absolute; margin-left:355px;  margin-top:-65px; font-weight:lighter; }

footer { height:145px; width:100%; min-width:1000px; background:#004F8E; clear:both;}
.rodape { height:145px; width:1000px;  margin:0 auto; }
.rodape-esq { float:left; height:145px; width:800px;  }
.rodape-dir { float:left; height:100px; width:200px;  text-align:center; padding-top:45px; }
.rodape-menu { height:50px;  width:780px; padding-left:20px; padding-top:10px; }
.rodape-menu ul li { float:left; margin-right:25px; }
.rodape-menu ul li a  {  font-family: 'Montserrat', sans-serif; font-size:15px; color:#FFF; text-decoration:none; }
.idioma-rodape { height:35px; padding-left:20px; width:780px; font-family: 'Montserrat', sans-serif; font-size:11px; color:#FFF; padding-top:5px; }
.idioma-rodape a { font-family: 'Montserrat', sans-serif; font-size:11px; color:#FFF;  }
.copy { padding-left:20px; font-family:Helvetica, sans-serif ; font-size:11px; padding-top:20px; color:#FFF;}


/*** paginas internas **/
.top-geral-int { height:132px; width:100%; min-width:1000px; background-image:url(../images/top-int-um.jpg); background-position:center; text-align:center; padding-top:80px; }
.top-geral-int  h1 { font-size:48px;  font-family: 'Montserrat', sans-serif; color:#FFF; font-weight:bold;}

.slide-geral-int { width:960px; margin:0 auto;  height:auto;padding-left:20px; padding-right:20px; padding-bottom:50px; padding-top:60px;}
.slide-geral-int h1 {font-family: 'Montserrat', sans-serif; font-size:38px; font-weight:normal; color:#004D8C; text-align:center; margin-bottom:40px; }
.slide-geral-int p { font-family:Helvetica, sans-serif; font-size:14px; line-height:20px; color:#777777; }
.slide-geral-int a {font-family:Helvetica, sans-serif; font-size:14px; line-height:20px; color:#004D8C;}

.download-int-geral { clear:both; background:#DDDDDD; width:100%; min-width:1000px; height:90px; }
.download-int  {  width:1000px; margin:0 auto;  height:70px; padding-top:20px; }
.download-int p { float:left; line-height:50px; color:#646472; font-family: 'Montserrat', sans-serif; font-size:20px; margin-right:30px; margin-left:270px;}

.caixa { overflow:auto; width:800px; float:left;  }
.caixa p { margin-top:50px; }